<h1>UserSwarm</h1>
<div>Create an account below or <a href="/login">if you already have one</a></div>
<form action="/signup" method="post">
	<div>
		<label for="name">Name: </label><input name="name" id="name" />
	</div>
	<div>
		<label for="email">Email: </label><input name="email" id="email" />
	</div>
	<div>
		<label for="password">Password: </label><input name="password" id="password" type="password" />
	</div>	
	<div>
		<input type="submit" />
	</div>
</form>